{
   "extends": ["stylelint-config-recommended-scss"],
   "rules": {
      "selector-class-pattern": [
         "^(?:[a-z]([a-z0-9-]+)?(?:__[a-z0-9]+(?:-[a-z0-9]+)*)?(?:--[a-z0-9]+(?:-[a-z0-9]+)*)*|(?:js|is)-[a-z0-9-]+)$",
         {
         "resolveNestedSelectors": true,
         "message": "Usa BEM: bloque, bloque__elemento, bloque--modificador o helpers js-/is-."
         }
      ]
   }
}