@use "../variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: variables.$sds-color-light;
}

.site-header {
  background-color: variables.$sds-color-light;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgb(168, 168, 168);
}

.hero {
  margin: 0;
  padding: 0;
}

.hero-row {
  min-height: 480px;
}

.hero-image-col {
  overflow: hidden;
}

.hero-image {
  display: block;
  width: 100%;
  height: auto ;
  object-fit: cover;
}

.hero-text-col {
  display: flex;
  background-color: variables.$sds-color-brand-primary;
  color: variables.$sds-color-light;
}

.hero-text-inner {
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  margin-bottom: 1rem;
  font-family: var(--font-family-heading, system-ui);
  font-size: var(--font-size-hero-title, 2.5rem);
  line-height: var(--line-height-hero-title, 1.2);
  font-weight: var(--font-weight-hero-title, 700);
}

.hero-subtitle {
  font-family: var(--font-family-body, system-ui);
  font-size: var(--font-size-hero-subtitle, 1rem);
  line-height: var(--line-height-hero-subtitle, 1.5);
}

.button-secondary{
  border: 2px solid variables.$sds-color-light;
  color: variables.$sds-color-light;

    &:hover {
    border: 2px solid variables.$sds-color-light;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
  }
}

/* Desktop */

/* Altura mínima del hero en escritorio */
@media (min-width: $sds-breakpoint-desktop) {

  .hero-row {
    height: 95vh;
  }

  .hero-image-col,
  .hero-text-col {
    height: 100%;
  }

  .hero-image-col {
    overflow: hidden;
  }

  .hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  .hero-text-inner {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-title {
    font-family: var(--font-family-heading, system-ui);
    font-size: var(--font-size-hero-title, 2.5rem);
    line-height: 1.2;
    font-weight: 700;
  }

  .hero-subtitle {
    font-family: var(--font-family-body, system-ui);
    font-size: 1rem;
    line-height: 1.5;
  }
}
