@use "../variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: variables.$sds-color-light;
}

.site-header {
  background-color: variables.$sds-color-light;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgb(168, 168, 168);
}

.hero {
  margin: 0;
  padding: 0;
}

.hero-row {
  min-height: 480px;
}

.hero-image-col {
  overflow: hidden;
}

.hero-image {
  display: block;
  width: 100%;
  height: auto ;
  object-fit: cover;
}

.hero-text-col {
  display: flex;
  background-color: variables.$sds-color-brand-primary;
  color: variables.$sds-color-light;
}

.hero-text-inner {
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  margin-bottom: 1rem;
  font-family: variables.$sds-font-family-serif;
  font-size: variables.$sds-font-size-hero;
  line-height: variables.$sds-font-line-hero;
  font-weight: variables.$sds-font-weight-bold;
}

.hero-subtitle {
  font-family: variables.$sds-font-family-sans-serif;
  font-size: variables.$sds-font-size-subtitle;
  line-height: variables.$sds-font-line-title;
}

.button-secondary{
  border: 2px solid variables.$sds-color-light;
  color: variables.$sds-color-light;

    &:hover {
    border: 2px solid variables.$sds-color-light;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
  }
}

.section-intro {
  background-color: variables.$sds-color-light;
  color: variables.$sds-color-dark;
}

.section-intro__block {
  max-width: 36rem;
  margin-inline: auto;
}

.section-intro__title {
  font-family: variables.$sds-font-family-serif;
  font-size: variables.$sds-font-size-title;
  line-height: variables.$sds-font-line-title;
  letter-spacing: variables.$sds-font-tracking-title;
  font-weight: variables.$sds-font-weight-bold;
  color: variables.$sds-color-brand-primary;
}

.section-intro__text {
  font-family: variables.$sds-font-family-sans-serif;
  font-size: variables.$sds-font-size-body;
  line-height: variables.$sds-font-line-body;
  letter-spacing: variables.$sds-font-tracking-body;
}

/* Imagen central */
.section-intro__image {
  border-radius: variables.$sds-border-radius-md;
  display: block;
}

@media (min-width: $sds-breakpoint-desktop) {

  .hero-row {
    height: 95vh;
  }

  .hero-image-col,
  .hero-text-col {
    height: 100%;
  }

  .hero-image-col {
    overflow: hidden;
  }

  .hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  .hero-text-inner {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    .section-intro__block {
    margin-inline: 0;
  }
}
