<div class="newsletter-section">
    <form>
        <div class="mb-3">
            <label for="fullName" class="form-label">Nombre y apellidos</label>
            <input
            type="text"
            class="form-control"
            id="fullName"
            placeholder="Tu nombre completo"
            >
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input
            type="email"
            class="form-control"
            id="email"
            placeholder="nombre@ejemplo.com"
            >
        </div>

        <div class="mb-3 form-check">
            <input
            type="checkbox"
            class="form-check-input"
            id="termsCheck"
            >
            <label class="form-check-label" for="termsCheck">
            Acepto los términos y condiciones
            </label>
        </div>
        
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" >Enviar</button>
        </div>
    </form>
</div>