/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@import 'variables';
@import "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

 @import "layouts/home";
 @import "layouts/contact";
 @import "layouts/header";

/**
 * Do NOT include anything else in this file!
 */
